[*.cs]
dotnet_diagnostic.MSTEST0004.severity = none # Public types should be test classes.

[OptionsTestData.cs]
dotnet_diagnostic.SA1515.severity = none # Single-line comment should be preceded by blank line.